/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, section {
    margin-bottom: 20px;
}

/* Estilos para el header */
header {
    background-color: #f2f2f2;
    padding: 20px;
}

header h1 {
    color: #333;
}

/* Estilos para las secciones */
section {
    padding: 20px;
    background-color: #f9f9f9;
}

section h2 {
    color: #333;
}

section h3 {
    color: #555;
}

section p {
    color: #777;
}

/* Estilos para las listas */
ul, ol {
    margin-left: 30px;
    margin-bottom: 10px;
}
